@if (formControl && (options || optionGroups)) {
  <mat-form-field [appearance]="appearance">
    <mat-label>{{ label }}</mat-label>
    <mat-select
      [compareWith]="compareWith"
      [formControl]="formControl"
      [multiple]="multiple"
      [placeholder]="placeholder || ''"
    >
      @for (option of options; track option) {
        <mat-option [disabled]="option.disabled" [value]="option.value">{{
          option.element.textContent
        }}</mat-option>
      }
      @for (optionGroup of optionGroups; track optionGroup) {
        <mat-optgroup [label]="optionGroup.label">
          @for (option of optionGroup.options; track option) {
            <mat-option [disabled]="option.disabled" [value]="option.value">{{
              option.element.textContent
            }}</mat-option>
          }
        </mat-optgroup>
      }
    </mat-select>
    @if (!hideHint) {
      <mat-hint [title]="hint">{{ hint }}</mat-hint>
    }
    @if (formControl.invalid && formControl.touched) {
      <mat-error>
        @if (formControl.hasError('required')) {
          {{ label }} is required.
        } @else if (formControl.hasError('maxlength')) {
          {{ label }} cannot exceed
          {{ formControl.errors?.['maxlength'].requiredLength }} selections.
        } @else if (formControl.hasError('minlength')) {
          {{ label }} must have at least
          {{ formControl.errors?.['minlength'].requiredLength }} selections.
        }
      </mat-error>
    }
  </mat-form-field>
} @else {
  <pro-input-loading [label]="label" />
}
